body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


#tableResults td,th {
    padding: 10px;
    border: 1px solid black;
}

#tableResults {
    border-collapse: collapse;
    border: 3px solid black;
}